In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
ex_filepath = 'DATA/generation_monthly.xlsx'
output_file_path1 = 'DATA/combined_file.csv'
output_file_path2 = 'DATA/combined_file2.csv'

excel_sheet_names = pd.ExcelFile(ex_filepath).sheet_names
xl_sheet_names_trimmed = excel_sheet_names[:-1]

# Read and concatenate the first 5 sheets
excel_data1 = pd.read_excel(ex_filepath, sheet_name=xl_sheet_names_trimmed[:5])
combined_df1 = pd.concat(excel_data1.values(), ignore_index=True)

# Save the result to the first CSV file
combined_df1.to_csv(output_file_path1, index=False)

# Read and concatenate the remaining sheets
excel_data2 = pd.read_excel(ex_filepath, sheet_name=xl_sheet_names_trimmed[5:])
combined_df2 = pd.concat(excel_data2.values(), ignore_index=True)

# Save the result to the second CSV file
combined_df2.to_csv(output_file_path2, index=False)

In [7]:
csv_filepath = 'DATA/combined_file2.csv' 

header_row = None
with open(csv_filepath, 'r') as file:
    for i, line in enumerate(file):
        if "YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)" in line:
            header_row = i
            break

combined_csv_2 = pd.read_csv(csv_filepath, skiprows=range(0, header_row))

In [17]:
stacked_df = pd.concat([combined_df, combined_df2])
stacked_df.shape

(530838, 12)

In [18]:
combined_df2

,"U.S. Department of Energy, The Energy Information Administration (EIA)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"Monthly Generation Data by State, Producer Sec...",NaN,NaN,NaN,NaN,NaN
1,Sources: EIA-923 Report,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
4,2012,1,AK,Total Electric Power Industry,Total,724707.28
...,...,...,...,...,...,...
292076,2023,9,WY,"Electric Generators, Electric Utilities",Coal,2635451
292077,2023,9,WY,"Electric Generators, Electric Utilities",Hydroelectric Conventional,39490
292078,2023,9,WY,"Electric Generators, Electric Utilities",Natural Gas,95639
292079,2023,9,WY,"Electric Generators, Electric Utilities",Petroleum,3779
292080,2023,9,WY,"Electric Generators, Electric Utilities",Wind,303960

In [14]:
stacked_df

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours),"U.S. Department of Energy, The Energy Information Administration (EIA)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,2001.0,1.0,AK,Total Electric Power Industry,Coal,46903.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2001.0,1.0,AK,Total Electric Power Industry,Petroleum,71085.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2001.0,1.0,AK,Total Electric Power Industry,Natural Gas,367521.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2001.0,1.0,AK,Total Electric Power Industry,Hydroelectric Conventional,104549.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2001.0,1.0,AK,Total Electric Power Industry,Wind,87.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
530833,NaN,NaN,NaN,NaN,NaN,NaN,2023,9,WY,"Electric Generators, Electric Utilities",Coal,2635451
530834,NaN,NaN,NaN,NaN,NaN,NaN,2023,9,WY,"Electric Generators, Electric Utilities",Hydroelectric Conventional,39490
530835,NaN,NaN,NaN,NaN,NaN,NaN,2023,9,WY,"Electric Generators, Electric Utilities",Natural Gas,95639
530836,NaN,NaN,NaN,NaN,NaN,NaN,2023,9,WY,"Electric Generators, Electric Utilities",Petroleum,3779
530837,NaN,NaN,NaN,NaN,NaN,NaN,2023,9,WY,"Electric Generators, Electric Utilities",Wind,303960