In [154]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [155]:
ex_filepath = 'DATA/generation_monthly.xlsx'
excel_data = pd.read_excel(ex_filepath,sheet_name = None, 
                            names = ["YEAR", "MONTH", "STATE", "TYPE OF PRODUCER", "ENERGY SOURCE", "GENERATION (Megawatthours)"])
raw_df = pd.concat(excel_data.values(), keys=excel_data.keys(), ignore_index=True)

In [156]:
raw_df = pd.concat(excel_data.values(), keys=excel_data.keys(), ignore_index=True)
raw_df.shape

(530838, 6)

In [168]:
invalid_rows = raw_df[raw_df['YEAR'].str.isnumeric() == False]
df = raw_df.drop(invalid_rows.index).dropna()
df.duplicated().sum()

0

In [179]:
rows_with_header_value = df[df['TYPE OF PRODUCER'] == 'ENERGY SOURCE']

In [180]:
rows_with_header_value

Empty DataFrame
Columns: [YEAR, MONTH, STATE, TYPE OF PRODUCER, ENERGY SOURCE, GENERATION (Megawatthours), DATE]
Index: []

In [169]:
df = df.infer_objects()
df.dtypes

YEAR                            int64
MONTH                           int64
STATE                          object
TYPE OF PRODUCER               object
ENERGY SOURCE                  object
GENERATION (Megawatthours)    float64
dtype: object

In [174]:
df['DATE'] = pd.to_datetime(df[['YEAR', 'MONTH']].assign(day=1))
df.set_index('DATE')

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
DATE,,,,,,
2001-01-01,2001,1,AK,Total Electric Power Industry,Coal,46903.0
2001-01-01,2001,1,AK,Total Electric Power Industry,Petroleum,71085.0
2001-01-01,2001,1,AK,Total Electric Power Industry,Natural Gas,367521.0
2001-01-01,2001,1,AK,Total Electric Power Industry,Hydroelectric Conventional,104549.0
2001-01-01,2001,1,AK,Total Electric Power Industry,Wind,87.0
...,...,...,...,...,...,...
2023-09-01,2023,9,WY,"Electric Generators, Electric Utilities",Coal,2635451.0
2023-09-01,2023,9,WY,"Electric Generators, Electric Utilities",Hydroelectric Conventional,39490.0
2023-09-01,2023,9,WY,"Electric Generators, Electric Utilities",Natural Gas,95639.0
2023-09-01,2023,9,WY,"Electric Generators, Electric Utilities",Petroleum,3779.0
2023-09-01,2023,9,WY,"Electric Generators, Electric Utilities",Wind,303960.0

In [175]:
df.describe()

,YEAR,MONTH,GENERATION (Megawatthours),DATE
count,530790.000000,530790.000000,5.307900e+05,530790
mean,2012.349144,6.451827,1.390318e+06,2012-10-20 03:10:36.170237184
min,2001.000000,1.000000,-9.978550e+05,2001-01-01 00:00:00
25%,2007.000000,3.000000,1.573685e+03,2007-04-01 00:00:00
50%,2013.000000,6.000000,2.291650e+04,2013-02-01 00:00:00
75%,2018.000000,9.000000,2.779502e+05,2018-07-01 00:00:00
max,2023.000000,12.000000,4.256113e+08,2023-09-01 00:00:00
std,6.539539,3.436390,1.078577e+07,NaN

In [176]:
headers_list = list(df.columns)
for header in headers_list:
    print(header)

YEAR
MONTH
STATE
TYPE OF PRODUCER
ENERGY SOURCE
GENERATION (Megawatthours)
DATE

In [162]:
types_producer = df['TYPE OF PRODUCER'].unique()
types_producer

array(['Total Electric Power Industry',
       'Electric Generators, Electric Utilities',
       'Combined Heat and Power, Electric Power',
       'Combined Heat and Power, Commercial Power',
       'Combined Heat and Power, Industrial Power',
       'Electric Generators, Independent Power Producers', nan,
       'TYPE OF PRODUCER'], dtype=object)

In [163]:
df['ENERGY SOURCE'].unique()
#COULD BE A PROBELM LOOKS LIKE THE HEADER IS IN THE DATA TOO.

array(['Coal', 'Petroleum', 'Natural Gas', 'Hydroelectric Conventional',
       'Wind', 'Total', 'Other Gases', 'Nuclear',
       'Wood and Wood Derived Fuels', 'Other Biomass', 'Other',
       'Solar Thermal and Photovoltaic', 'Pumped Storage', 'Geothermal',
       nan, 'ENERGY SOURCE'], dtype=object)